.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container div {
    margin: 2px;
    width: 300px;
}

.container div:hover {
    cursor: pointer;
}

.product_image {
    object-fit: cover;
}

.city_span:hover {
    cursor: pointer;
}

.QHVoQ {
    transition: all 0.2s ease-in-out;
}

.QHVoQ:hover {
    background: #FF3F55;
}

.cKlCkw:hover {
    color: white;
}